@import '../../sass/mixins.scss';
@import '../../sass/variables.scss';

.form_gamertag-form {
  @include set-dimensions(20vh, 100%);
  background-image: linear-gradient( hsla(0, 0, 0, 1), hsla(0, 0, 0, 0.15) ), transparent;
  border-style: inset;
  border-left: none;
  border-right: none;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

input {
  outline: none;
}

legend {
  position: absolute;
  font-size: 2em;
  top: 0;
}


.form_input-container {
  @include set-dimensions(40px, 30%);
  display: flex;
}

.gamertag-input {
  @include set-dimensions(100%, 70%);
  font-size: 1em;
  padding: 0 0 0 10px;
}

.gamertag-submit {
  @include set-dimensions(100%, 25%);
    &:hover {
      cursor: pointer;
    }
}

.error-message {
  color: red;
}