@import '../../sass/mixins.scss';
@import '../../sass/variables.scss';
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

.no-found-section {
  background-image: url('../../images/missing-link.jpg');
  font-family: 'Oswald', sans-serif;
  @include set-dimensions(100vh, 100%);
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  color:white;
  font-size: 3em;
}