@import '../../sass/mixins.scss';
@import '../../sass/variables.scss';

* {
  box-sizing: border-box;
  @include remove-spacing;
}

html {
  overflow: hidden;
  height: 100%;
 }
 body {
  height: 100%;
  overflow: auto;
 }

.App {
  @include set-dimensions(auto, 100%);
  background-color: rgb(154, 190, 154);
}