@import '../../sass/mixins.scss';
@import '../../sass/variables.scss';

* {
  box-sizing: border-box;
  @include remove-spacing;
}

html {
  overflow: hidden;
  height: 100%;
 }
 body {
  height: 100%;
  overflow: auto;
 }

.App {
  @include set-dimensions(auto, 100%);
  background-image: linear-gradient( hsla(0, 0, 0, 0.15), hsla(0, 0, 0, 0.15) ), url('../../images/hex-dark.png');
  background-repeat: repeat repeat;
}