@import '../../sass/mixins.scss';
@import '../../sass/variables.scss';
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

* {
  box-sizing: border-box;
  @include remove-spacing;
  font-family: 'Oswald', sans-serif;
}

html {
  overflow: hidden;
  height: 100%;
 }
 body {
  height: 100%;
  overflow: auto;
 }

.App {
  @include set-dimensions(auto, 100%);
  background-image: linear-gradient( hsla(0, 0, 0, 0.15), hsla(0, 0, 0, 0.15) ), url('../../images/hex-dark.png');
  background-attachment: fixed;
  background-repeat: repeat repeat;
}